@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

/* * { 
    margin: 0;
    padding: 0;
}*/

/* Shared style */
.display-flex {
    display: flex;
}

.light-gray-1 {
    color: #131313;
}

.light-gray-2 {
    color: #424242;
}

.light-gray-3 {
    color: #727272;
}

.bg-light {
    background-color: rgba(250, 144, 14, 0.1);
}

.btn-primary {
    background-color: #FF900E;

    border-radius: 8px;
    padding: 20px 25px;
    color: #FFFFFF;
    font-weight: 600;
    font-size: 1.25rem;
    border: none;
}


/* Header style */

/* Nav bar style */
.navbar {
    justify-content: space-between;
    align-items: center;
}

.nav-links {
    list-style: none;

}

.nav-link {
    margin-right: 30px;
    text-decoration: none;
}

.navbar,
.banner {
    max-width: 1452px;
    margin: 0 auto;
}

.brand {
    font-size: 3rem;
}

/* Banner */
.banner-content {
    max-width: 862px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;

}

.Banner-title {
    font-size: 4rem;
    font-weight: bold;
}

.banner-img {
    width: 100%;
}

/* main section */
main {
    max-width: 1440px;
    margin: 0 auto;
}

.team {
    align-items: center;
}

.our-feauture {
    max-width: 537px;
}

.team-img-container {
    display: grid;
    gap: 24px;
    grid-template-columns: repeat(2, 1fr);
    margin-right: 73px;
    x
}

.feauture-title {
    font-size: 2.85rem;
    font-weight: bold;
    margin-bottom: 24px;
}

#quick-list {
    color: #727272;
}

.feauture-color {
    color: #FF900E;
}

.feauture-description {
    line-height: 26px;
}

/* Some facts related style */
.fact-card {

    border: 1px solid #FF900E;
    /* border-style: none; */
    border-radius: 8px;
    height: 241px;
    width: 241px;
    margin: auto;


}

.fact-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 45px;

}


.fact-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);


}

.fact {
    margin-top: 130px;
}

.fact-number {
    font-size: 2.80rem;
    font-weight: 600;
    margin-top: 5px;
    margin-bottom: 5px;
}

.fact-title {
    font-size: 1.25rem;
    font-weight: 600;
    color: #727272;
    margin-top: 5px;
}


/* Responsibe media query */
@media screen and (max-width:576px) {

    .nav-links,
    .navbar {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        margin: 0 auto;

    }

    .navbar {
        width: 100%;
    }

    .team-img-container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        margin: auto;
    }

    .team {
        display: flex;
        flex-direction: column;

    }

    .our-feauture {
        margin-left: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

@media screen and (min-width:576px) and (max-width:992px) {
    .team {
        display: flex;
        flex-direction: column;
        justify-content: center;
        /* align-items: center; */
    }
}
















































































































































.