@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

/* * { 
    margin: 0;
    padding: 0;
}*/

/* Shared style */
.display-flex {
    display: flex;
}

.light-gray-1 {
    color: #131313;
    font-size: 2.90rem;
    font-weight: bold;
}

.light-gray-2 {
    color: #424242;
}

.light-gray-3 {
    color: #727272;
    line-height: 26px;
}

.bg-light {
    background-color: rgba(250, 144, 14, 0.1);
}

.btn-primary {
    background-color: #FF900E;

    border-radius: 8px;
    padding: 20px 25px;
    color: #FFFFFF;
    font-weight: 600;
    font-size: 1.25rem;
    border: none;
}


/* Header style */

/* Nav bar style */
.navbar {
    justify-content: space-between;
    align-items: center;
}

.nav-links {
    list-style: none;

}

.nav-link {
    margin-right: 30px;
    text-decoration: none;
}

.navbar,
.banner {
    max-width: 1452px;
    margin: 0 auto;
}

.brand {
    font-size: 3rem;
}

/* Banner */
.banner-content {
    max-width: 862px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;

}

.Banner-title {
    font-size: 4rem;
    font-weight: bold;
}

.banner-img {
    width: 100%;
}

/* main section */
main {
    max-width: 1440px;
    margin: 0 auto;
}

.team {
    align-items: center;
}

.our-feauture {
    max-width: 537px;
}

.team-img-container {
    display: grid;
    gap: 24px;
    grid-template-columns: repeat(2, 1fr);
    margin-right: 73px;
    x
}

.feauture-title {
    font-size: 2.85rem;
    font-weight: bold;
    margin-bottom: 24px;
}

#quick-list {
    color: #727272;
}

.feauture-color {
    color: #FF900E;
}

.feauture-description {
    line-height: 26px;
}

/* Some facts related style */
.fact-card {

    border: 1px solid #FF900E;
    /* border-style: none; */
    border-radius: 8px;
    height: 241px;
    width: 241px;
    margin: auto;


}

.fact-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 45px;

}


.fact-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);


}

.fact {
    margin-top: 130px;
}

.fact-number {
    font-size: 2.80rem;
    font-weight: 600;
    margin-top: 5px;
    margin-bottom: 5px;
}

.fact-title {
    font-size: 1.25rem;
    font-weight: 600;
    color: #727272;
    margin-top: 5px;
}

.section-title {
    font-size: 2.90rem;
    font-weight: bold;
}

.section-pera {
    max-width: 542px;
    margin-top: 24px;
    margin-bottom: 100px;
    line-height: 26px;
}

/* sponsor */


.sponsor-info {
    margin: 0 auto;
    max-width: 542px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.sponsor-container {
    margin-top: 180px;
}

.sponsor-title {
    margin-top: 24px;
    margin-bottom: 50px;
}

.sponsor-company {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.sponsor-company img {
    filter: grayscale(100);
}

/* Feature */
#haeding-border {
    border-left: 5px solid #FF900E;
    padding-left: 21px;
}

.feature-card {
    padding: 30px;
    box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.06);
    margin-bottom: 20px;
}

.feature {
    display: flex;
    gap: 146px;
    margin-top: 140px;
}

.feature-container {
    max-width: 586px;
}

.feature-heading {
    margin-top: 0px;
    margin-bottom: 0px;
}

#experience-badge {
    padding: 45px 42px;
    color: #FFFFFF;
    margin-left: -92px;
    margin-top: -122px;
}

.experience-year {
    font-size: 4rem;
    font-weight: bold;
    line-height: 70px;
}

.j {
    font-size: 1.25rem;
    line-height: 40px;
}

/* Footer style */
.footer-container {
    margin-top: 130px;

    background-color: #FFF4E7;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.footer-text {
    padding: 39px 410px;
    font-size: 1.25rem;
}

/* Responsibe media query */
@media screen and (max-width:576px) {


    .navbar {
        display: flex;

        flex-direction: column;

    }



    .team-img-container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        margin: auto;
    }

    .team {
        display: flex;
        flex-direction: column;

    }

    .our-feauture {
        margin-left: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .fact-container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 24px;
    }

    .sponsor-company {
        grid-template-columns: 1fr;
        gap: 24px;

    }

    .sponsor-company img {
        margin-left: 100px;

    }

    .feature {
        display: flex;
        flex-direction: column;
    }

    .feature img {
        width: 100%;
    }

    #experience-badge {
        margin-top: 20px;
        margin-left: 20px;
    }

    .feature-container {
        width: 100%;
    }


    /* footer */
    .footer-container {
        margin-top: 50px;
    }

    .footer-text {
        padding: 0;
        font-size: .50rem;
    }

}

@media screen and (min-width:576px) and (max-width:992px) {
    .team {
        display: flex;
        flex-direction: column;
        justify-content: center;
        /* align-items: center; */
    }



    .sponsor-company,
    .fact-container {
        grid-template-columns: repeat(2, 1fr);
        gap: 50px;
        justify-items: center;
    }
}
















































































































































.